.BODY{
    margin: 0;
    padding: 0;
}
.MAINBOX1
{
    background-color: #1f2937;
    height: 75px;
    display: flex;
    justify-content: space-around;
    gap: 200px;
}
.HEADER-LOGO
{
    font-family: Roboto, sans-serif;
    color: white;
    font-weight: 800;
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    padding-right: 100px;
}
.LINKBOX
{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.LINKS1,
.LINKS2,
.LINKS3
{
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
}
.MAINBOX2
{
    background-color: #1f2937;
    height: 475px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.CHILD1
{
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.CHILD1TEXT-A{
    color: white;
    font-size: 48px;
    font-weight: 900;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    padding-right: 120px;
    height: -75px;
    width: 500px;
}
.CHILD1TEXT-B{
    color: white;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 120px;
}
.CHILD1-SIGNUP{
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #3882F6;
    border-radius: 8px;
    background-color: #3882F6;
    height: 25px;
    width: 120px;
}
.CHILD2
{
    height: 250px;
    width: 550px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CHILD2TEXT{
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MAINBOX3
{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 900;
}
.MAINBOX4
{
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.MB4CHILD1,
.MB4CHILD2
{
    height: 400px;
    width: 1200px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.BOX1,
.BOX2,
.BOX3,
.BOX4
{
    border: 6px solid #3882F6;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 200px;
}
.BOX5,
.BOX6,
.BOX7,
.BOX8
{
    border: 10px solid white;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    width: 200px;
    height: 50px;
}
.MAINBOX5
{
    height: 430px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.MB5TEXT1{
    height: 200px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2939;
    padding-left: 250px;
    padding-right: 250px;
}
.MB5TEXT2
{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 24px;
    width: 800px;
    text-align: right;
}