.BODY{
    margin: 0;
    padding: 0;
}
.MAINBOX1
{
    background-color: #1f2937;
    height: 120px;
    display: flex;
    justify-content: space-between;
}
.HEADER-LOGO
{
    font-family: Roboto, sans-serif;
    color: white;
    height: 50px;
    width: 200px;
    text-align:left;
    font-weight: 800;
    font-size: 32px;
    margin-left: 260px;
    margin-top: -5px;
}
.LINKS-BOX{
    display: flex;
    justify-content: center;
}
.LINKS1,
.LINKS2,
.LINKS3
{
    font-family: Roboto, sans-serif;
    color: white;
    height: 50px;
    width: 125px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
.LINKS3{
    margin-right: 250px;


}
.MAINBOX2{
    background-color: #1f2937;
    height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.HEADER-LOGO2{
    font-family: Roboto, sans-serif;
    color: white;
    height: 125px;
    width: 300px;
    text-align: left;
    font-weight: 800;
    font-size: 44px;
    margin-left: 260px;
}
.MB2-TEXT{
    font-family: Roboto, sans-serif;
    color: white;
    text-align:left;
    font-weight: 400;
    font-size: 20px;
    margin-left: 260px;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    float: left;
    width: 550px;
    height: 75px;
}
.MB2-SIGNUP{
    background-color: #3882f6;
    border-radius: 6px;
    font-family: Roboto, sans-serif;
    color: white;
    height: 35px;
    width: 125px;
    font-weight: 800;
    font-size: 18px;
    margin-left: 260px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.IMAGE1{
    display: flex;
    justify-content: right;
    margin-right: 250px;
    margin-top: -350px;
    max-width: 100%;
    height: auto;
}

